@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url(//db.onlinewebfonts.com/c/4f9463b996339e2fc66a827c7dc21f63?family=Metrica);
@import url(//db.onlinewebfonts.com/c/6cec834e2e8f2e4206567ed75e1281d4?family=Brandon+Grotesque+Bold);
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Kumbh+Sans:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* font-family: "Brandon Grotesque Bold", "sans-serif"; */
  /* font-family: "Metrica"; */
  /* font-family: "Montserrat"; */
  font-family: "Poppins", "Montserrat";
  color: #666666;
}
html,
body {
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
}
body {
  /* background: radial-gradient(
    at top left,
    rgb(243, 120, 5) 0%,
    rgb(8, 2, 94) 100%
  ); */
  background: #f5f5f5;
  background-repeat: no-repeat;
  padding: 40 auto;
  color: #000;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

.two:hover span {
  width: 50%;
}

section {
  height: 100vh;
  padding: 30px 30px 30px 30px;
  /* width: 100vw; */
}

/* This section CSS class might have a problem in the future and should be revisited Portfolio part is NOT a section tag */
#portfolio {
  height: 100%;
  padding: 30px 30px 30px 30px;
}
/* layout & nav */
.layout {
  max-width: 100%;
  /* width: 100%; */
}

/* Contact Form */

/* RED BORDER ON INVALID INPUT */
.check input:invalid {
  border-color: red;
}

/* FLOATING LABEL */
.label-floating input:not(:placeholder-shown),
.label-floating textarea:not(:placeholder-shown) {
  padding-top: 1.4rem;
}
.label-floating input:not(:placeholder-shown) ~ label,
.label-floating textarea:not(:placeholder-shown) ~ label {
  font-size: 0.8rem;
  transition: all 0.2s ease-in-out;
  color: #785b46;
  opacity: 1;
}

.content {
  margin-top: 116px;
}

nav {
  /* background: rgba(255, 255, 255, 0); */
  background: #f5f5f5;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px 40px 20px 40px;
  transition: background 1s ease 0s;
  /* transition: all 0.5s; */
  position: fixed;
  z-index: 1;
}

.fixed-nav nav {
  position: fixed;
  /* background: rgba(8, 2, 94, 1); */
  background: #fff;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}

nav .links {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  padding-right: 50px;
  align-items: center;
}
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
}
/* nav a:hover {
  border-color: white;
} */
footer p {
  text-align: center;
  color: #bbb;
  margin: 40px auto;
}

.slide-in {
  opacity: 0;
  transition: all 0.3s;
  transform: translateY(10%) scale(0.95);
}

.slide-in.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}
